

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|McLaren&display=swap');

body {
  background-color: #5C7080;
  padding: 20px;
}

header {text-align: center;
  font-size:14;
  color: #007EB3;
  font-family: Mclaren, serif;
  background-color:#5599CC;
    border: 1px black solid;
    padding: 20px;
}
span{
  font-variant: small-caps;
  font-family: Mclaren, sans-serif;
  letter-spacing:.25em;
  padding: 0 .2em;
  background: 000000;
  font-size:30px;
}

div {
  background-color:#007EB3;
    border: 1px black solid;
    padding: 24px
    width: 100%;

}
h1 {
  text-align: center;
  font-family: Mclaren, serif;
  font-size:40px;
  color: #007EB3;
  
}
h2 {
	 text-align: center;
  font-family: 'Playfair Display', serif;
  font-size:18px;
  color: #007EB3;

}
article {
  background-color:#6BBFFF;
    border: 1px black solid;
    padding: 20px;
}

section{
background-color:#5599CC;
color:#fff;
overflow:auto;
}

div {
   background-color:#5599CC;
    border: 1px black solid;
    padding: 20px;
    font-size: 1.2em;
  width: 46%;
  padding: 2%;
  display: inline-block;
} 

h3 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size:25;
  color: #000000;
	
}

h4 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size:14;
  color: #000000;

}
p {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size:14;
  color: #000000;
}
nav {
    background-color:#365F80;
    padding: 20px;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-size: 22px;
}
img {
  display: block;
  margin:0 auto;
  width:480px;
  clear: both;
}

#about{
  float: none;

}
#two_column {
    background-color: #5C7080;
    border: 1px black solid;
    padding: 20px;
    width:100%;
}

#description {
    background-color: #5C7080;
    border: 1px black solid;
    padding: 20px;
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 48%;
}

#start {
    background-color: #5C7080;
    border: 1px black solid;
    padding: 20px;
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 48%;
}

footer {
  background-color:#365F80;
    border: 1px black solid;
    text-align: center;
  padding: 1em 0;
  clear: both;
  font-family: 'Mclaren';
}

@media only screen and (max-width: 480px) {
nav {
  float: none;
}
 
 nav {
    display: block;
    text-align: center;
  }
  h2, h3, h4 {
    font-size: 1em;
    display: inline;
  }
 img {
  width="250"
  height="200"
 }
 @media only screen and (max-width: 569px) {
nav {
  float: none;
  text-align: center;
  }
  h2, h3, h4 {
    font-size: 1em;
    display: inline;
  }
 img {
  width="250"
  height="200"
 }
}
}