
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap')

body {
  background-color: #4d6680;

}
title {text-align: center;
  font-size:14;
  color: #9ecdff;
  font-family: Mclaren, serif;

}
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|McLaren&display=swap');

h1 {
  text-align: center;
  font-family: 'Cinzel Decorative', serif;
  font-size:14;
  color: #9ecdff;
  font-style:italic;
}
h2 {
	 text-align: center;
  font-family: 'Cinzel Decorative', serif;
  font-size:14;
  color: #ffffff;

}
nav {
	text-align: center;
}
img {text-align:center;}