

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|McLaren&display=swap');

body {
  background-color: #4d6680;

}
title {text-align: center;
  font-size:14;
  color: #9ecdff;
  font-family: Mclaren, serif;

}


h1 {
  text-align: center;
  font-family: Mclaren, serif;
  font-size:14;
  color: #9ecdff;
  
}
h2 {
	 text-align: center;
  font-family: 'Mayfair Display', serif;
  font-size:14;
  color: #ffffff;

}
nav {
	text-align: center;
	font-family: 'Mayfair Display';
	font-size: 14;
}
