
body {
  background-color: #665451;
}
h1 {
  text-align: center;
  font-family: serif;
  font-size:14;
  color: #703D34;
  font-style:italic;
}
h2 {
	 text-align: center;
  font-family: serif;
  font-size:14;
  color: #703D34;

}